
#server:
#  port: 8083
#
#spring:
#  application:
#    name: api-gateway
#  cloud:
#    gateway:
#      discovery:
#        locator:
#          enabled: true
#
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka
#    fetch-registry: true
#    register-with-eureka: true
#

server:
  port: 8083

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/client/**
<<<<<<< HEAD
=======
          filters:
            - AuthenticationFilter
>>>>>>> authentication-service
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/agents/**
<<<<<<< HEAD
        - id: authentication-service
          uri: lb://AUTHENTICATION-SERVICE
          predicates:
                - Path=/api/auth/**
=======
          filters:
            - AuthenticationFilter

        - id: authentication-service
          uri: lb://AUTHENTICATION-SERVICE
          predicates:
            - Path=/api/v1/auth/**

>>>>>>> authentication-service
      discovery:
        locator:
          enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  prefix: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970