server:
  port: 8112
spring:
  application:
    name: transferService
  datasource:
    url: jdbc:mysql://localhost:3306/banking_core_fund_transfer_service
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

info:
  app:
    name: ${spring.application.name}
    fetch-registry: true
    register-with-eureka: true
    enabled: true


#infobip:
#  api:
#    key: "336a18ec0d02f481b32b3f49a34815fe-7af9e21e-c834-4a42-a0c1-a77dca6cdcd1"
#    url: "https://3g6k51.api.infobip.com"
